
.profile {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-image: url(./images.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: aliceblue;
	border-radius: 10px;
}
.boxLi {
	width: 300px;
	border-top: 1px solid rgb(255, 255, 255);
}
h1 {
	text-align: center;
}