.section {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
.title {
	text-align: center;
	background-color: #5e5151;
	border: 1px solid black;
	height: 70px;
	margin: 0;
	padding-top: 22px;
	font-weight: 900;
}